*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Courier New", monospace;
    background:#ececec;
    color:#222;
}

a{
    text-decoration:none;
    color:inherit;
}

/* Layout */

.app-layout{
    display:flex;
    height:100vh;
}

/* Sidebar */

.sidebar{
    width:240px;
    background:#fff;
    border-right:2px solid #ddd;
    display:flex;
    flex-direction:column;
    padding:30px 20px;
}

.sidebar h1{
    font-size:28px;
}

.user-email{
    margin-top:8px;
    color:#666;
    font-size:14px;
    word-break:break-word;
}

.sidebar nav{
    margin-top:40px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.sidebar nav a{
    padding:12px;
    transition:.2s;
}

.sidebar nav a:hover{
    background:#eee;
}

.sidebar nav a.active{
    background:#222;
    color:#fff;
}

.sidebar button{
    margin-top:auto;
    background:#222;
    color:white;
    padding:12px;
    border:none;
    cursor:pointer;
}

.sidebar button:hover{
    background:#444;
}

/* Main */

.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* Navbar */

.navbar{
    height:80px;
    background:#fff;
    border-bottom:2px solid #ddd;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
}

.navbar h2{
    margin-bottom:6px;
}

.navbar p{
    color:#666;
}

/* Page */

.page-content{
    flex:1;
    overflow:auto;
    padding:30px;
}

/* Dashboard */

.dashboard h1{
    margin-bottom:30px;
}

.dashboard-cards{
    display:flex;
    gap:20px;
    margin-bottom:40px;
}

.card{
    flex:1;
    background:white;
    border:2px solid #ddd;
    padding:25px;
}

.card h2{
    margin-top:15px;
    font-size:36px;
}

.recent-files{
    background:white;
    border:2px solid #ddd;
}

/* Files */

.file-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    border-bottom:1px solid #ddd;
}

.file-row:last-child{
    border-bottom:none;
}

.file-actions{
    display:flex;
    gap:10px;
}

button{
    cursor:pointer;
}

input,
select{
    padding:10px;
    border:1px solid #ccc;
    margin-right:10px;
}


.storage-bar{
    width:100%;
    height:20px;
    background:#ddd;
}

.storage-fill{
    height:100%;
    background:#222;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

/* ---------- Authentication ---------- */

.auth-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ececec;
}

.auth-form{
    width:380px;
    background:white;
    border:2px solid #ddd;
    padding:35px;
}

.auth-form h1{
    text-align:center;
}

.auth-form input{
    width:100%;
}

.auth-form button{
    width:100%;
}

.auth-form p{
    text-align:center;
}

.auth-form a{
    color:#222;
    font-weight:bold;
}