# Dependencies
node_modules/

# Environment Variables
.env
server/.env
client/.env

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vite
.vite

# Coverage
coverage/

# IDE
.vscode/
*.zip